In [28]:
  # Multiply elements one by one
def multiplyList(myList):

    result = 1
    for x in myList:
        result = result * x
    return result
 
 

list = [2,3 , 6]
print(multiplyList(list))

36

In [8]:
#dictionaries by adding values for common keys
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Cdict = Counter(d1) + Counter(d2)
print(Cdict)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [19]:
#sorted in last element in each tuple
a = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
x =(sorted(a))
print(x)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [51]:
#set add and remove.
set = {"omar","python","c++" ,"java"}
for val in set:
    print(val)
    
set.add("waleed")
    
set.remove("omar")

print(set)

python
omar
java
c++
{'waleed', 'python', 'java', 'c++'}

In [10]:
#sort a tuple by its float element
list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

print( sorted(list, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [29]:
#Making a dictionary that contains (i,i*i) 
n=int(input())
for i in range(1,n+1):
    a=i*i
    print("{",i,": ",a,"}",sep="")

8
{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}